<div>
<div class="myContent">
  <div class="myBtn">
    <input [(ngModel)]="inputValue">
    <button (click)="addTask(inputValue)">Dodaj</button>
  </div>
</div>
  <br>
  <div class="myContent">
    <div>
      <ul *ngIf="listTasks.length > 0; else taskEmpty">
        <li *ngFor="let task of listTasks; let i = index">
           {{task.title}}
          <button (click)="deleteTask(i)" >Usuń</button>
          <button (click)="approvedTask(task)" >Zrobione</button>
        </li>
      </ul>
    </div>
    <div>
      <p>Wykonanych zadań : {{listApprovedTak.length}} </p>
      <ul>
        <li *ngFor="let item of listApprovedTak" >
          {{ item.title }}
        </li>
      </ul>
    </div>
  </div>

  <ng-template #taskEmpty>
    <p>Brak zadań, dodaj zadania</p>
  </ng-template>



</div>
